<!DOCTYPE html>
<html >
	<head>
		<meta charset="UTF-8">
		<title></title>
		<link rel="stylesheet" href="__PUBLIC__/Meizhi/css/CssReset.css" />
		<link rel="stylesheet" href="../../../../Public/meizhi/css/Goodsnoused.css" />
	</head>
	<body style="background: #F0F0F0;">
		<div class="first" >
				<div class="bigests" >
					<table class="big">
						<tr class="big2">
							<td>商品</td> <td>进货时间</td> <td>具体时间</td> <td>进货价格</td><td>数量</td><td style="width: 250px;">备注</td> 
						</tr>
						<volist name="data" id="vol">
							<tr>
								<td>{$vol.goods_name}</td>
								<td>{$vol.entering_date}</td>
								<td style="height: 25px;">{$vol.specific_time}</td>
								<td>{$vol.price}</td>
								<td>{$vol.sum(number)}</td>
								<td>{$vol.to_remark}</td>
							</tr>
						</volist>
					</table>
					<div class="pages" style="float: right;">  
				        {$page}  
				    </div> 	
				</div>
			<form action="{:U('Stock/export_goodsnoused')}">
				<div class="search_button">
					<input type="submit" value="导出EXCEL" class="search_submit" />
				</div>
			</from>
		</div>
	</body>
</html>
