.the_biggest{	
	position: absolute;
	height: 400px;
	width: 100%;
/*	background: pink;*/	
}
.box{
	width: 35%;
	height: 120px;
	margin: 0 auto;
	margin-top: 150px;
/*	background: red;*/
}
.sim_number_box{
	
	width: 75%;
	margin: 0 auto;
	margin-top: 15px;
/*	background: brown;*/
}

.sim_number{
	width: 160px;
	border-radius: 5px;
	border: solid 1px darkgrey;	
	float: right;
}
.submit{
	width: 100px;
	height: 20px;
	color: white;
	border-radius: 8px;
	margin-left:35% ; 
	margin-top: 5%;
	background: orangered;	
}

