.the_biggest{
	position: absolute;
	width: 1050px;
	height: 600px;
	background: #F0F0F0;
}
.revise_password_box{
	margin: 0 auto;
	margin-top: 150px;
	width: 295px;
	height: 200px;
/*	background: lightcyan;*/
}
.start_password{
	border: solid 1px #a9a9a9;
	width: 180px;
	border-radius: 5px;
	margin-left: 20px;

}
.new_password{
	border: solid 1px #a9a9a9;
	width: 180px;
	border-radius: 5px;
	margin-left: 20px;

}
.affirm_password{
	border: solid 1px #a9a9a9;
	width: 180px;
	border-radius: 5px;
	margin-left: 5px;

}
.password_submit{
	margin-top: 20px;
	margin-left: 120px;
	background: orangered;
	color: white;
	border-radius: 5px;
	width: 100px;
}
.first{
	width: 200px;
	height: 8px;
}
